@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --red-color: #E4002B;
  --white-color: #F5F5F7;
  --p-color: #393F52;
  --background-color: #F1F3F6;
  --border-color: #2F6605;
  --blue-color: #427EFF;
  --div-color:#E2EBF4;
}

::placeholder {
  opacity: 0.7 !important;
}

body::-webkit-scrollbar {
  width: 1px !important;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background-color: var(--background-color) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 6px;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  background-color: #ebebeb;
}